<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Cooking Bite</title>
  </head>

  <body>
    <header class="header">
      <a href="./index.html" class="nav-logo">Cooking Bite</a>
      <ul class="nav-links">
        <li class="nav-item">
          <a href="./index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="./menu.html" class="nav-link">Menu</a>
        </li>
        <li class="nav-item">
          <a href="./cart.html" class="nav-link">Cart</a>
        </li>
        <li class="nav-item">
          <a href="./sign_in.html" class="nav-link">Sign In</a>
        </li>
        <li class="nav-item">
          <a href="./about_us.html" class="nav-link">About us</a>
        </li>
      </ul>
    </header>

    <section id="go-arrow">^</section>

    <section class="about-page-container card-content">
      <div class="card-section">
        <h3 class="card-m"><img src="../static/icons/shopping-cart.png" alt="shopping-cart" /> My Cart</h3>
        <hr />
        <div class="main-card">
          <hr class="card-m" />
          <div class="cart">
            <img src="../static/images/burgur-menu.png" alt="" class="cart-img" />
            <p>Burgur</p>
            <p>₹100</p>
            <input type="number" />
            <p>₹100</p>
            <button class="remover-btn">Remove</button>
          </div>
          <hr class="card-m" />
        </div>
        <div class="main-card">
          <hr class="card-m" />
          <div class="cart">
            <img src="../static/images/veg-taco-bell-crunchy-taco-menu.png" class="cart-img" />
            <p>taco bell</p>
            <p>₹100</p>
            <input type="number" />
            <p>₹100</p>
            <button class="remover-btn">Remove</button>
          </div>
          <hr class="card-m" />
        </div>
        <div class="main-card">
          <hr class="card-m" />
          <div class="cart">
            <img src="../static/images/sandwich-menu.png" class="cart-img" />
            <p>sandwich</p>
            <p>₹50</p>
            <input type="number" />
            <p>₹50</p>
            <button class="remover-btn">Remove</button>
          </div>
          <hr class="card-m" />
        </div>
        <div class="main-card">
          <hr class="card-m" />
          <div class="total">
            <p>total</p>
            <p>₹250</p>
          </div>
          <hr class="card-m" />
        </div>
        <hr />
        <div class="card-m area-checkout">
          <button class="btn-checkout">close</button>
          <button class="btn-checkout">checkout</button>
        </div>
      </div>
    </section>

    <footer class="footer-container">
      <div class="location-container">
        <h2 class="footer-titles">Location</h2>
        <div class="space-between">
          <img class="icons" src="../static/icons/address-icon.png" alt="address-icon" />
          <span class="bold-text"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore. </span>
        </div>
        <div class="space-between">
          <img class="icons" src="../static/icons/mail-icon.png" alt="mail-icon" />
          <span class="bold-text">
            <a href="#">info@example.com</a>
          </span>
        </div>
        <div class="space-between">
          <img class="icons" src="../static/icons/phone-icon.png" alt="phone-icon" />
          <span class="bold-text">+0 123-456-7890 </span>
        </div>
      </div>
      <div class="opening-container">
        <h2 class="footer-titles">Opening Hours</h2>
        <div class="space-between bold-text">
          <p>Mon-Tues: 8:00 am - 9:00 pm</p>
        </div>
        <div class="space-between bold-text">
          <p>Tues-Friday: 8:00 am - 9:00 pm</p>
        </div>
        <div class="space-between bold-text">
          <p>Launch: 1:00 to 2:30 pm</p>
        </div>
        <div class="opening-section bold-text">
          <p>Sunday: Closed</p>
        </div>
      </div>
      <div class="social-container">
        <h2 class="footer-titles">Social Media</h2>
        <div class="social-section">
          <a href="#">
            <img src="../static/icons/instagram-icon.png" alt="instagram_icon" class="social-icon" />
          </a>
        </div>
        <div class="social-section">
          <a href="#">
            <img src="../static/icons/facebook-icon.png" alt="facebook_icon" class="social-icon" />
          </a>
        </div>
        <div class="social-section">
          <a href="#">
            <img src="../static/icons/twitter-icon.png" alt="twitter_icon" class="social-icon" />
          </a>
        </div>
        <div style="margin-top: 10px">&copy; 2022</div>
      </div>
    </footer>

    <script src="../static/js/main.js"></script>
  </body>
</html>
