<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Cooking Bite</title>
  </head>

  <body>
    <header class="header">
      <a href="./index.html" class="nav-logo">Cooking Bite</a>
      <ul class="nav-links">
        <li class="nav-item">
          <a href="./index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="./menu.html" class="nav-link">Menu</a>
        </li>
        <li class="nav-item">
          <a href="./cart.html" class="nav-link">Cart</a>
        </li>
        <li class="nav-item">
          <a href="./sign_in.html" class="nav-link">Sign In</a>
        </li>
        <li class="nav-item">
          <a href="./about_us.html" class="nav-link">About us</a>
        </li>
      </ul>
    </header>

    <section id="go-arrow">^</section>

    <section class="menu-container">
      <div class="dishe-container">
        <div class="dishe-container-heading">
          <h2>Dishes</h2>
        </div>
        <div id="disheses">
          <div class="dishes-containers menu-section">
            <div class="dishes-img-containers">
              <div class="dish-img-border-containers">
                <img
                  src="../static/images/burgur-menu.png"
                  alt="Burgur"
                  class="dishes-img border-img"
                  data-dish="burger"
                />
                <div class="dish-img-btn-containers">
                  <h3>Burgur</h3>
                  <span class="item-price">₹100</span>
                  <button type="button" class="order-card">
                    <img src="../static/icons/shopping-cart.png" alt="Shooping cart" />
                    Order Now
                  </button>
                </div>
              </div>
            </div>
            <div class="dishes-img-containers">
              <div class="dish-img-border-containers">
                <img
                  src="../static/images/veg-taco-bell-crunchy-taco-menu.png"
                  alt="veg-taco-bell-crunchy-taco"
                  class="dishes-img border-img"
                  data-dish="veg-taco-bell-crunchy-taco"
                />
                <div class="dish-img-btn-containers">
                  <h3>Veg taco bell crunchy</h3>
                  <span class="item-price">₹100</span>
                  <button type="button" class="order-card">
                    <img src="../static/icons/shopping-cart.png" alt="Shooping cart" />
                    Order Now
                  </button>
                </div>
              </div>
            </div>
            <div class="dishes-img-containers">
              <div class="dish-img-border-containers">
                <img
                  src="../static/images/sandwich-menu.png"
                  alt="sandwich"
                  class="dishes-img border-img"
                  data-dish="sandwich"
                />
                <div class="dish-img-btn-containers">
                  <h3>sandwich</h3>
                  <span class="item-price">₹50</span>
                  <button type="button" class="order-card">
                    <img src="../static/icons/shopping-cart.png" alt="Shooping cart" />
                    Order Now
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="dishes-containers menu-section">
            <div class="dishes-img-containers">
              <div class="dish-img-border-containers">
                <img
                  src="../static/images/Mcdonald's-french-fries-menu.png"
                  data-dish="Mcdonald's-french-fries"
                  alt="Mcdonald's-french-fries"
                  class="dishes-img border-img"
                />
                <div class="dish-img-btn-containers">
                  <h3>Mcdonald's french fries</h3>
                  <span class="item-price">₹50</span>
                  <button type="button" class="order-card">
                    <img src="../static/icons/shopping-cart.png" alt="Shooping cart" />
                    Order Now
                  </button>
                </div>
              </div>
            </div>
            <div class="dishes-img-containers">
              <div class="dish-img-border-containers">
                <img
                  src="../static/images/cocacola-menu.png"
                  alt="cocacola"
                  data-dish="cocacola"
                  class="dishes-img border-img"
                />
                <div class="dish-img-btn-containers">
                  <h3>cocacola</h3>
                  <span class="item-price">₹50</span>
                  <button type="button" class="order-card">
                    <img src="../static/icons/shopping-cart.png" alt="Shooping cart" />
                    Order Now
                  </button>
                </div>
              </div>
            </div>
            <div class="dishes-img-containers">
              <div class="dish-img-border-containers">
                <img
                  src="../static/images/donuts-coffee-menu.png"
                  alt="donuts"
                  data-dish="donuts"
                  class="dishes-img border-img"
                />
                <div class="dish-img-btn-containers">
                  <h3>donuts</h3>
                  <span class="item-price">₹100</span>
                  <button type="button" class="order-card">
                    <img src="../static/icons/shopping-cart.png" alt="Shooping cart" />
                    Order Now
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="dishes-containers menu-section">
            <div class="dishes-img-containers">
              <div class="dish-img-border-containers">
                <img
                  src="../static/images/burgur-menu.png"
                  data-dish="Burgur"
                  alt="Burgur"
                  class="dishes-img border-img"
                />
                <div class="dish-img-btn-containers">
                  <h3>Burgur</h3>
                  <span class="item-price">₹100</span>
                  <button type="button" class="order-card">
                    <img src="../static/icons/shopping-cart.png" alt="Shooping cart" />
                    Order Now
                  </button>
                </div>
              </div>
            </div>
            <div class="dishes-img-containers">
              <div class="dish-img-border-containers">
                <img
                  src="../static/images/veg-taco-bell-crunchy-taco-menu.png"
                  data-dish="veg-taco-bell-crunchy-taco"
                  alt="veg-taco-bell-crunchy-taco"
                  class="dishes-img border-img"
                />
                <div class="dish-img-btn-containers">
                  <h3>Veg taco bell crunchy</h3>
                  <span class="item-price">₹100</span>
                  <button type="button" class="order-card">
                    <img src="../static/icons/shopping-cart.png" alt="Shooping cart" />
                    Order Now
                  </button>
                </div>
              </div>
            </div>
            <div class="dishes-img-containers">
              <div class="dish-img-border-containers">
                <img
                  data-dish="sandwich"
                  src="../static/images/sandwich-menu.png"
                  alt="sandwich"
                  class="dishes-img border-img"
                />
                <div class="dish-img-btn-containers">
                  <h3>sandwich</h3>
                  <span class="item-price">₹50</span>
                  <button type="button" class="order-card">
                    <img src="../static/icons/shopping-cart.png" alt="Shooping cart" />
                    Order Now
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="dishes-containers menu-section">
            <div class="dishes-img-containers">
              <div class="dish-img-border-containers">
                <img
                  src="../static/images/Mcdonald's-french-fries-menu.png"
                  alt="Mcdonald's-french-fries"
                  data-dish="Mcdonald's-french-fries"
                  class="dishes-img border-img"
                />
                <div class="dish-img-btn-containers">
                  <h3>Mcdonald's french fries</h3>
                  <span class="item-price">₹50</span>
                  <button type="button" class="order-card">
                    <img src="../static/icons/shopping-cart.png" alt="Shooping cart" />
                    Order Now
                  </button>
                </div>
              </div>
            </div>
            <div class="dishes-img-containers">
              <div class="dish-img-border-containers">
                <img
                  src="../static/images/cocacola-menu.png"
                  data-dish="cocacola"
                  alt="cocacola"
                  class="dishes-img border-img"
                />
                <div class="dish-img-btn-containers">
                  <h3>cocacola</h3>
                  <span class="item-price">₹50</span>
                  <button type="button" class="order-card">
                    <img src="../static/icons/shopping-cart.png" alt="Shooping cart" />
                    Order Now
                  </button>
                </div>
              </div>
            </div>
            <div class="dishes-img-containers">
              <div class="dish-img-border-containers">
                <img
                  src="../static/images/donuts-coffee-menu.png"
                  data-dish="donuts"
                  alt="donuts"
                  class="dishes-img border-img"
                />
                <div class="dish-img-btn-containers">
                  <h3>donuts</h3>
                  <span class="item-price">₹100</span>
                  <button type="button" class="order-card">
                    <img src="../static/icons/shopping-cart.png" alt="Shooping cart" />
                    Order Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer-container">
      <div class="location-container">
        <h2 class="footer-titles">Location</h2>
        <div class="space-between">
          <img class="icons" src="../static/icons/address-icon.png" alt="address-icon" />
          <span class="bold-text"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore. </span>
        </div>
        <div class="space-between">
          <img class="icons" src="../static/icons/mail-icon.png" alt="mail-icon" />
          <span class="bold-text">
            <a href="#">info@example.com</a>
          </span>
        </div>
        <div class="space-between">
          <img class="icons" src="../static/icons/phone-icon.png" alt="phone-icon" />
          <span class="bold-text">+0 123-456-7890 </span>
        </div>
      </div>
      <div class="opening-container">
        <h2 class="footer-titles">Opening Hours</h2>
        <div class="space-between bold-text">
          <p>Mon-Tues: 8:00 am - 9:00 pm</p>
        </div>
        <div class="space-between bold-text">
          <p>Tues-Friday: 8:00 am - 9:00 pm</p>
        </div>
        <div class="space-between bold-text">
          <p>Launch: 1:00 to 2:30 pm</p>
        </div>
        <div class="opening-section bold-text">
          <p>Sunday: Closed</p>
        </div>
      </div>
      <div class="social-container">
        <h2 class="footer-titles">Social Media</h2>
        <div class="social-section">
          <a href="#">
            <img src="../static/icons/instagram-icon.png" alt="instagram_icon" class="social-icon" />
          </a>
        </div>
        <div class="social-section">
          <a href="#">
            <img src="../static/icons/facebook-icon.png" alt="facebook_icon" class="social-icon" />
          </a>
        </div>
        <div class="social-section">
          <a href="#">
            <img src="../static/icons/twitter-icon.png" alt="twitter_icon" class="social-icon" />
          </a>
        </div>
        <div style="margin-top: 10px">&copy; 2022</div>
      </div>
    </footer>

    <script src="../static/js/main.js"></script>
    <script src="../static/js/menu.js"></script>
  </body>
</html>
