<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Cooking Bite</title>
  </head>

  <body>
    <header class="header">
      <a href="./index.html" class="nav-logo">Cooking Bite</a>
      <ul class="nav-links">
        <li class="nav-item">
          <a href="./index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="./menu.html" class="nav-link">Menu</a>
        </li>
        <li class="nav-item">
          <a href="./cart.html" class="nav-link">Cart</a>
        </li>
        <li class="nav-item">
          <a href="./sign_in.html" class="nav-link">Sign In</a>
        </li>
        <li class="nav-item">
          <a href="./about_us.html" class="nav-link">About us</a>
        </li>
      </ul>
    </header>

    <section id="go-arrow">^</section>

    <section class="account-container">
      <div class="form-section">
        <div class="form-massage">
          <p class="m-t-25 msg-p">Sign in with your email</p>
          <p class="m-t-25">
            Don't have a account?
            <button id="sign-up-btn" class="form-btn">Sign up</button>
          </p>
        </div>
        <form action="#" method="post" id="log-in" class="m-t-25">
          <input class="form-input" type="text" name="log-in-user-name" id="log-in-user-name" placeholder="Username" />
          <input
            class="form-input"
            name="log-in-user-password"
            id="log-in-user-password"
            type="password"
            placeholder="Password"
          />
          <input class="m-t-25 checked-box-btn" type="checkbox" name="show-password-log-in" id="show-password-log-in" />
          <label for="show-password-log-in">Show Password</label>
          <button id="forgot-password">Forgot password?</button>
          <input class="form-input form-input-btn" type="submit" value="continue" />
        </form>
      </div>
      <div class="form-section hide-form">
        <div class="form-massage">
          <p class="m-t-25 msg-p">Sign Up with your email</p>
          <p class="m-t-25">
            Already have an account?
            <button id="sign-in-btn" class="form-btn">Sign in</button>
          </p>
        </div>
        <form action="#" method="post" id="sign-in" class="m-t-25">
          <input
            class="form-input"
            type="text"
            name="sign-in-full-name"
            id="sign-in-full-name"
            placeholder="Full Name"
          />
          <input
            class="form-input"
            type="text"
            name="sign-in-user-name"
            id="sign-in-user-name"
            placeholder="Username"
          />
          <input
            class="form-input"
            name="sign-in-user-password"
            id="sign-in-user-password"
            type="password"
            placeholder="Password"
          />
          <input
            class="form-input"
            name="sign-in-user-re-password"
            id="sign-in-user-re-password"
            type="password"
            placeholder="Re-Password"
          />
          <input
            class="m-t-25 checked-box-btn"
            type="checkbox"
            id="show-password-sign-up"
            name="show-password-sign-up"
          />
          <label for="show-password-sign-up">Show Password</label>
          <input class="form-input form-input-btn" type="submit" value="create account" />
        </form>
      </div>
    </section>

    <footer class="footer-container">
      <div class="location-container">
        <h2 class="footer-titles">Location</h2>
        <div class="space-between">
          <img class="icons" src="../static/icons/address-icon.png" alt="address-icon" />
          <span class="bold-text"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore. </span>
        </div>
        <div class="space-between">
          <img class="icons" src="../static/icons/mail-icon.png" alt="mail-icon" />
          <span class="bold-text">
            <a href="#">info@example.com</a>
          </span>
        </div>
        <div class="space-between">
          <img class="icons" src="../static/icons/phone-icon.png" alt="phone-icon" />
          <span class="bold-text">+0 123-456-7890 </span>
        </div>
      </div>
      <div class="opening-container">
        <h2 class="footer-titles">Opening Hours</h2>
        <div class="space-between bold-text">
          <p>Mon-Tues: 8:00 am - 9:00 pm</p>
        </div>
        <div class="space-between bold-text">
          <p>Tues-Friday: 8:00 am - 9:00 pm</p>
        </div>
        <div class="space-between bold-text">
          <p>Launch: 1:00 to 2:30 pm</p>
        </div>
        <div class="opening-section bold-text">
          <p>Sunday: Closed</p>
        </div>
      </div>
      <div class="social-container">
        <h2 class="footer-titles">Social Media</h2>
        <div class="social-section">
          <a href="#">
            <img src="../static/icons/instagram-icon.png" alt="instagram_icon" class="social-icon" />
          </a>
        </div>
        <div class="social-section">
          <a href="#">
            <img src="../static/icons/facebook-icon.png" alt="facebook_icon" class="social-icon" />
          </a>
        </div>
        <div class="social-section">
          <a href="#">
            <img src="../static/icons/twitter-icon.png" alt="twitter_icon" class="social-icon" />
          </a>
        </div>
        <div style="margin-top: 10px">&copy; 2022</div>
      </div>
    </footer>

    <script src="../static/js/main.js"></script>
    <script src="../static/js/account.js"></script>
  </body>
</html>
